@import "../../../base.scss";

.user-images {
  cursor: pointer;
  position: relative;
  outline: 2px solid $orange;
  border-radius: 5px;
  height: 85%;
  width: 100%;
  background-color: $orange;

  overflow: hidden;
  display: flex;

  &::after {
    background-color: transparent;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
  }

  &:hover {
    img {
      filter: blur(0.5rem);
    }

    &::after {
      content: "View Gallery";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(19, 21, 25, 0.5);
    }
  }

  .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: all 1.5s ease;
    filter: none;
  }

  .fade {
    opacity: 0.2;
  }
}

.gallery-modal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 40vmax;
  height: 40vmax;

  overflow-y: scroll;

  @keyframes spin {
    0% {
      transform: rotate(0turn);
    }

    100% {
      transform: rotate(1turn);
    }
  }

  .loader {
    z-index: 2;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 500%;
    border: 15px solid $gray;
    border-top: 15px solid $red;
    animation: spin 2s linear infinite;
  }

  .gal-img {
    cursor: pointer;
    position: relative;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1);
      filter: none;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
        filter: blur(0.5rem);
      }

      &::before {
        opacity: 1;
      }
    }

    &::before {
      opacity: 0;
      z-index: 1;

      content: "Delete?";
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      font-family: "Amatic SC", cursive;
      font-weight: bold;
      font-size: 2rem;
      color: $red;
      background-color: rgba(19, 21, 25, 0.7);
      transition: all 0.5s ease-in-out;
    }
  }
}
