@use "./base.scss" as base;

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  // background-color: #f3f5f9;
}

a {
  color: base.$blue;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px base.$gray;
}

::-webkit-scrollbar-thumb {
  background: base.$gray;
}

::-webkit-scrollbar-thumb:hover {
  background: base.$blue;
}

// ::-webkit-scrollbar-button {
//   background-color: $gray;
//   height: 15px;
// }
