@use "../../base.scss" as base;

div.signup-form {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

    span {
      color: base.$red;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;

    button {
      width: 70%;
    }
  }
}
